

:root {
    --accent: #ff4e00;
    --base: #c0e2c4;
}
* {
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

body {
    background-color: var(--base);
}

p {
    font-size: 18px;
    margin: 10px;
    font-family: Helvetica;
}

a {
    color: black;
    text-decoration: none;
    font-family: Helvetica;

}

#titleBlock {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--base);
}

#titleBlock h1 {
    font-family: Helvetica;
    font-size: 75px;
    margin: 10px;
    font-weight: 100;
    line-height: 100%;
    position: absolute;
    top: 30px;
    left: 30px

}

#zackPic {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    animation-name: profileRotate;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

@keyframes profileRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

#zackPic img {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0px;
    box-sizing: border-box;
}

#portrait {
    background-color: var(--accent);
    border: 1px solid white;
    /* z-index: -1; */
}

#colorOverlay {
    width: 500px;
    height: 500px;
    background-color: var(--base);
    position: absolute;
    left: 0px;
    mix-blend-mode: darken;
}


nav {
    width: 100vw;
    height: 50px;
    background-color: var(--base);
    position: sticky;
    top: 80px;
    transform: translateY(-80px);
    /* border: 2px solid black; */
    border-left: 0px;
    border-right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 100;
    padding: 12px;
    cursor: pointer;
}

nav a:nth-child(1) {
    font-size: 18px;
    color: var(--accent);
    /* margin-left: 70vw; */
    animation-name: profileRotate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-left: 40px
}

nav a:nth-child(1){
    margin-left:30px
}

nav a:hover {
    color: var(--accent);
    cursor: pointer;
}

main {
    width: 768px;
    margin: 0 auto;
}

main section {
    margin-top: 100px;
}

.subTitle {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 45px;
    margin: 10px
}

.subTitle::after {
    content: " â—";
    color: var(--accent);

}

#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects {
    width: 46%;
    margin: 10px;

}

.projects:hover > * {
    border-color: var(--accent);
    color: var(--accent)
}

.projects h3{
    font-family: Helvetica;
    font-weight: 100;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 0px;
    text-transform: uppercase;
}

.projects img {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    /* filter: saturate(0%); */
}

#bigProj {
    width: 100%
}

#contact {
    height: 150px
}

#contact-infos {
    margin-top: 20px;
}

#contact-infos a{
    text-decoration: var(--accent) underline;
    margin: 10px;
    font-size: 18px;
}

#contact-infos a:hover{
    color: var(--accent);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    main {
        width: 558px;
    }
}

@media screen and (max-width: 558px){
    main {
        width: 80vw
    }
    #zackPic, #zackPic img, #colorOverlay {
        width: 300px;
        height: 300px
    }
    .projects {
        margin: 5px;
    }

    #titleBlock h1 {
        font-size: 50px;
    }
}